.App {
  text-align: center;
  height: 100vh;
  background-color: #0f0e17;
  color: #a7a9be;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* button {
  background-color: #ff8906!important;
  color: #fffffe!important;
}

.def-button{
  background-color: #ff8906;
  color: #fffffe;
}

h1, h2, h3, h4, h5, h6 {
  color: #fffffe;
}

p {
  color: #a7a9be;
}

::selection {
  background: #ff8906; 
}

.stroke{
  color: balck;
}

.sec_custom_color{
  color: #f25f4c;
}

.third_custom_color{
  color: #e53170;
} */
